@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html,
  body {
    @apply mx-auto min-h-screen w-full max-w-[1440px] antialiased;
    font-family: 'GmarketSans', Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
}

.scroll-smooth::-webkit-scrollbar {
  width: 6px;
}

.scroll-smooth::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}

.scroll-smooth::-webkit-scrollbar-track {
  background: transparent;
}

.ProseMirror-focused {
  @apply outline-none;
}
.ProseMirror h1 {
  @apply text-3xl max-sm:text-lg;
}

.ProseMirror h2 {
  @apply text-2xl max-sm:text-base;
}

.ProseMirror h3 {
  @apply text-xl max-sm:text-sm;
}

.ProseMirror p {
  @apply max-sm:text-xs;
}

.ProseMirror strong {
  @apply font-bold;
}

.ProseMirror ol > li {
  @apply list-decimal pl-2;
}

.ProseMirror ul > li {
  @apply list-disc pl-2;
}

.ProseMirror ol,
.ProseMirror ul {
  @apply pl-5;
}
