@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  @apply antialiased;
  font-family: 'GmarketSans', Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
