react-calendar {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  font-family: 'GmarketSans';
}
.react-calendar__tile {
  box-sizing: border-box;
  height: 65px;
  border-radius: 1rem;
}
.react-calendar__tile--now {
  background: #d2e3c2;
}
.react-calendar__tile--active {
  background: #9bb782 !important;
}
.react-calendar__tile:hover {
  background: #dfdede !important;
}
.react-calendar__tile.has-schedule {
  border: 2px solid #9bb782;
}
.react-calendar__navigation button {
  font-size: 1.4em;
  padding: 10px;
}
.react-calendar__month-view__weekdays {
  font-weight: bold;
  text-transform: uppercase;
}
.react-calendar__navigation {
  align-items: center;
}
